//LOGIN NAVBAR
.nav-container {
  height: 10vh;
}
.login-nav {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;

.login-list {
    display: flex;
    list-style: none;

    .login-list-item {
      text-decoration: none;
      color: var(--side-txt);
      padding: 10px 15px;
    }
    .login-list-item:hover {
      border: 1px var(--accent1) solid;
    }
  }
}

//NAVIGATION NAVBAR
.navigation {
  margin-bottom: 2em;
  display: flex;
  justify-content: flex-end;

  .navigation-list {
    display: flex;
    list-style: none;

    //POTEM ZMIEN NA LINKI PO ZROBIENIU ROUTER SCROLLA
    li {
      text-decoration: none;
      color: var(--main-txt);
      padding: 10px 15px;
    }
    li:hover {
      border: 1px var(--main-txt) solid;
    }
  }
}